- # View for adding students into teams
- # Authors: Anton Minkov && Laney Deveson
- # Date: 13/04/2021

- content_for :title, "Group Add Student"

.container.body_whole_custom
  .container-fluid.bg_none.text_black.margin_top.bigger
    - team_topic = "-"
    - if @selected_group_team.topic != "none"
      - team_topic = "- " + @selected_group_team.topic + " -"
    #{@selected_group_team.name} #{team_topic}
    #{@current_team_size}/#{@max_team_size}
    %a.button.float_right.no_padding.btn.btn-primary.agreement_buttons.justify-content-center.button_go_back_1.medium.button_small{:href => admin_modules_groups_path(module_id: params[:module_id]), type: "button"} Go Back
    %hr.group_line
    
    - # Search form
    .container-fluid.bg_none.no_padding.bg_border.margin_bottom_small.bg_white.no_border
      = simple_form_for :search_form do |f|
        .container-fluid.bg_none.no_padding
          = image_tag('search_logo.jpg', alt: 'Search Users', class: 'search_logo margin_none')
        .container-fluid.bg_none.row.no_padding.margin_bottom_none  
          = f.input :form_module_id, :as => :hidden, :input_html => {:id => "form_module_id", :value => params[:module_id] }
          = f.input :form_team_id, :as => :hidden, :input_html => {:id => "form_team_id", :value => params[:team_id] }
          .container.col-xs-9.col-sm-5.no_padding_right.no_padding_left
            = f.input :search_input, as: :string, label: false , required: false
          .container.col-xs-9.col-sm-7.no_padding_left
            = f.button :submit, "Search", name:"search_button", class: "btn btn-primary agreement_buttons justify-content-center button_search_3 float_left no_padding bigger", id:"search_choice"

    - # Table of students in the module but NOT in any team
    .container-fluid.bg_none.bg_border.no_padding.margin_bottom_small
      - if @users_in_module_but_not_in_team.length <= 0
        .container.no_results
          %h.center_element.bigger.text_black No users match your search
      - else
        .container-fluid.bg_none.overflow_style.scroll_down.no_padding.table_div
          %table.table.table-hover.table-dark 
            %tbody
              %tr.medium
                %th.black_text{:colspan => "1", :style => "width: 5%;"} #
                %th.black_text{:colspan => "1", :style => "width: 30%;"} Name
                %th.black_text.center_element{:colspan => "1", :style => "width: 10%;"} Username
                %th.black_text.center_element{:colspan => "1", :style => "width: 20%;"} Email
                %th.black_text.center_element{:colspan => "1", :style => "width: 15%;"} Last Login
                %th.black_text.center_element{:colspan => "4", :style => "width: 20%;"} Action
                - @users_in_module_but_not_in_team.to_a.each_with_index do |user, index|
                  - if user[:givenname] == nil  
                    - user[:givenname] = ""
                  - if user[:sn] == nil 
                    - user[:sn] = ""
                  - whole_name = user[:givenname] + " " + user[:sn]
                  %tr.small.hover_color
                    = form_tag admin_modules_groups_add_path(module_id: params['module_id'], team_id: params['team_id']), :method => :post, :id => 'add_student_form' do
                      %input#user_remove_id{name: "student_add_id", type: "hidden", value: user[:id]}
                      - last_login = user[:last_sign_in_at]
                      - if last_login.nil?
                        - last_login = ""
                      - else
                        - last_login = user[:last_sign_in_at].strftime("%d/%m/%Y")
                      %td{:colspan => "1", :style => "width: 5%;"} #{index+1}
                      %td{:colspan => "1", :style => "width: 30%;"} #{whole_name}
                      %td.center_element{:colspan => "1", :style => "width: 10%;"} #{user[:username]}
                      %td.center_element{:colspan => "1", :style => "width: 20%;"} #{user[:email]}
                      %td.center_element{:colspan => "1", :style => "width: 15%;"} #{last_login}
                      %td.center_element{:colspan => "1", :style => "width: 20%;"} 
                        %button{type: "submit", name: "add_student_button",  class: "btn btn-primary action_buttons justify-content-center small", id:"submit_choice", value: "add_student"}Add Student
