- # View for modules page
- # Authors: Anton Minkov && Laney Deveson
- # Date: 05/04/2021

- content_for :title, "Admin Modules"

.container.body_whole_custom_transparent

  - # Searching form and adding modules
  .container-fluid.bg_none.no_padding.bg_border.margin_bottom_small.bg_white
    = simple_form_for :search_form do |f|
      .container-fluid.bg_none.no_padding
        = image_tag('search_modules.jpg', alt: 'Search Modules', class: 'search_logo')
      .container-fluid.bg_none.row.no_padding.margin_bottom_small
        .container.col-xs-6.col-sm-5.no_padding_right
          = f.input :search_input, as: :string, label: false , required: false
        .container.col-xs-4.col-sm-3.no_padding_left
          = f.button :submit, "Search", name:"search_button", class: "btn btn-primary agreement_buttons justify-content-center button_search_2 float_left", id:"submit_choice", "data-disable-with" => "Submitting.."
        - if can? :manage, :admin_modules_create
          .container.col-xs-8.col-sm-4.no_padding_left.no_padding_right.padding_right_small
            %button{onclick: "location.href='/admin/modules/create';", type: "button", name: "add _button",  class: "btn btn-primary agreement_buttons justify-content-center button_add_module", id:"submit_choice"}Add Module

  - # Generate accordions with all the modules
  .container-fluid.bg_none.no_padding.bg_border.margin_bottom_small.bg_white.text_black
    - if @modules_by_year.length <= 0
      .container.no_results
        %h.center_element.bigger.text_black No modules match your search
    - else
      - last_i = 0
      #accordion
        .card
          - for i in 1..@modules_by_year.length
            - true_i = 0
            - if i == @modules_by_year.length
              - true_i = 1
            - else
              - true_i = i + 1
            - # Sort modules in academic years
            #heading-1.card-header
              %h5.mb-0
                %a.uni_purple.collapsed.no_after#a_tag{"aria-controls" => "collapse-#{true_i}", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#collapse-#{true_i}", role: "button"}
                  ACADEMIC YEAR #{@modules_by_year[i-1].first.years}
            #collapse-1.collapse{"aria-labelledby" => "heading-#{true_i}", "data-parent" => "#accordion"}
              .card-body
                #accordion-1
                  - for z in 1..@modules_by_year[i-1].length
                    - # Generate all the modules for the specfic academic year
                    .card
                      #heading-1-1.card-header.header_bad
                        %h5.mb-0
                          %a.uni_purple.collapsed.no_after{"aria-controls" => "collapse-#{true_i}-#{z}", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#collapse-#{true_i}-#{z}", role: "button"}
                            #{@modules_by_year[i-1][z-1].code} #{@modules_by_year[i-1][z-1].name} (#{@modules_by_year[i-1][z-1].semester}) - Level #{@modules_by_year[i-1][z-1].level}
                      - # Generate module content
                      #collapse-1-1.collapse.collapse_bad{"aria-labelledby" => "heading-#{true_i}-#{z}", "data-parent" => "#accordion-#{true_i}"}
                        .card-body
                          - module_id_var = @modules_by_year[i-1][z-1].id
                          - privilege_for_module = ListModule.privilege_for_module(current_user.username, module_id_var)
                          - if privilege_for_module != "student" || @highest_privilege == "admin"
                            %li
                              %a.uni_purple{ :href => admin_modules_preview_path(module_id: module_id_var), :title => "Preview" }
                                %strong
                                  Preview Module Page
                            %hr.group_line
                          #{@modules_by_year[i-1][z-1].description}
                    
                    - # Change accordion id's to avoid dublication
                    - if i == @modules_by_year.length
                      - last_i = true_i
                      - last_z = z
                    - else
                      :javascript
                        document.getElementById('heading-1-1').id = 'heading-#{true_i}-#{z}';
                        document.getElementById('collapse-1-1').id = 'collapse-#{true_i}-#{z}';
            
            - # Change accordion id's to avoid dublication
            :javascript
              document.getElementById('heading-1').id = 'heading-#{i}';
              document.getElementById('collapse-1').id = 'collapse-#{i}';
              document.getElementById('accordion-1').id = 'accordion-#{i}';

      - # Change accordion id's to avoid dublication
      - for y in 1..@modules_by_year[@modules_by_year.length-1].length
        - index = @num_of_modules-(@modules_by_year[@modules_by_year.length-1].length+1) + y 
        :javascript
          var bad_headers = document.getElementsByClassName("header_bad");
          var bad_collapsers = document.getElementsByClassName("collapse_bad");
          bad_headers['#{index}'].id = 'heading-#{last_i}-#{y}';
          bad_collapsers['#{index}'].id = 'collapse-#{last_i}-#{y}';