- # View for Editing/Cloning modules
- # Authors: Anton Minkov && Laney Deveson
- # Date: 06/04/2021

- content_for :title, "Edit/Clone Module"

.container.body_whole_custom2
  .container-fluid.module_form.text_black
    .container-fluid.text_black.no_padding.bg_none
      %h.float_left.bigger.no_padding Edit Module
      %a.button.float_right.no_padding.btn.btn-primary.agreement_buttons.justify-content-center.button_go_back_1.medium{:href => admin_modules_preview_path(module_id: params[:module_id]), type: "button"} Go Back
    %hr.group_line.no_padding
    - # Module Cloning/Editing Form
    = simple_form_for :module_edit_form, remote: true do |f|
      = f.input :form_module_id, :as => :hidden, :input_html => {:id => "form_module_id", :value => @module_info.id }
      .form-row
        .form-group.col-md-9.margin_bottom_small
          = f.input :module_name, :as => :string, label: "Module Name", required: false , :input_html => {:id => "inputName", :class => "form-control", :value => @module_info.name}
        .form-group.col-md-3.margin_bottom_small
          = f.input :module_code, :as => :string, label: "Code", required: false, :input_html => {:id => "inputCode", :class => "form-control", :value => @module_info.code}
      .form-group.margin_bottom_small
        = f.input :module_description, :as => :text, label: "Description", required: false, :input_html => {:id => "inputDescription", :class => "form-control", :rows => 10, :value => @module_info.description}
      .form-row
        .form-group.col-md-5.margin_bottom_small
          = f.input :semester, as: :select, collection: ['AUTUMN', 'SPRING', 'ACADEMIC YEAR', 'GRADUATE YEAR'], label: "Semester", include_blank: false, required: false,  :selected => @module_info.semester
        .form-group.col-md-4.margin_bottom_small
          = f.input :years, as: :select, collection: @generated_years, label: "Academic Year", include_blank: false, required: false, :selected => @module_info.years
        .form-group.col-md-3.margin_bottom_small
          = f.input :level, as: :select, collection: ['4', '5', '6', '7'], label: "Level", include_blank: false, required: false, :selected => @module_info.level
      .form-group.margin_bottom_small.special_margin_top
        .form-check.no_padding_left
          = f.check_box :check_box_ml, {:id => "check_box_ml", :class => "myclass"}, "checked-value", "unchecked-value"
          %label{for: "check_box_ml"} Inherit Module Leader (Cloning only)
        .form-check.no_padding_left 
          = f.check_box :check_box_ta, {:id => "check_box_ta", :class => "myclass"}, "checked-value", "unchecked-value"
          %label{for: "check_box_ta"} Inherit Teaching Assistants (Cloning only)
      
      - # Submiting the form
      = f.button :submit, "Edit", name:"edit_module_button", class: "btn btn-primary agreement_buttons justify-content-center button_create_module float_left special_margin_top", id:"submit_choice"
      = f.button :submit, "Clone", name:"clone_module_button", class: "btn btn-primary agreement_buttons justify-content-center button_create_module float_left margin_left_small special_margin_top", id:"submit_choice"
