- # View for module preview
- # Authors: Anton Minkov && Laney Deveson
- # Date: 05/04/2021

- content_for :title, "Module Preview"

.container.body_whole_custom
  - # Display current module's information: name, code, level, description, module leaders and teaching assistants
  .container-fluid.bg_none.text_black.margin_top.bigger
    #{@module_info.name} - #{@module_info.code} - Level #{@module_info.level}
    %button.float_right.no_padding.btn.btn-primary.agreement_buttons.justify-content-center.button_go_back_1.medium.button_small{onclick: "location.href='/admin/modules';", type: "button"} Go Back
    %hr.group_line
  .container-fluid.bg_none.text_black
    #{@module_info.description}
    %hr.group_line
  .container-fluid.bg_none
    .container-fluid.bg_none.row.no_padding
      .container-fluid.bg_none.text_black.col-xs-9.col-sm-6.no_padding_right.no_padding.margin_top_none
        %strong
          Module Leaders:
        %br
        %ul
          - if @module_leaders.length != 0
            - for i in 0..(@module_leaders.length-1)
              %li
                #{@module_leaders[i].givenname} #{@module_leaders[i].sn}
      .container-fluid.bg_none.text_black.col-xs-9.col-sm-6.no_padding_left.no_padding.margin_top_none
        %strong
          Teaching assistants:
        %br
        %ul
          - for i in 0..(@teaching_assistants.length-1)
            %li
              #{@teaching_assistants[i].givenname} #{@teaching_assistants[i].sn}
    %hr.group_line
    
    - # Search form for all module users
    .container-fluid.bg_none.no_padding.bg_border.margin_bottom_small.bg_white.no_border
      = simple_form_for :search_form do |f|
        .container-fluid.bg_none.no_padding
          = image_tag('search_logo.jpg', alt: 'Search Users', class: 'search_logo margin_none')
        .container-fluid.bg_none.row.no_padding.margin_bottom_none  
          = f.input :form_module_id, :as => :hidden, :input_html => {:id => "form_module_id", :value => params[:module_id] }
          .container.col-xs-6.col-sm-5.no_padding_right.no_padding_left.margin_none
            = f.input :search_input, as: :string, label: false , required: false
          .container.col-xs-4.col-sm-3.no_padding_left.margin_none
            = f.button :submit, "Search", name:"search_button", class: "btn btn-primary agreement_buttons justify-content-center button_search_2 float_left", id:"search_choice"
          .container.col-xs-6.col-sm-3.no_padding_left.no_padding_right.margin_none.margin_left_auto
            - if @last_finished_period != nil && @last_finished_period.feedback_status == "approved"
              %button.medium{type: "button", name: "send_feedback_button",  class: "btn btn-primary agreement_buttons justify-content-center button_mailmerge_send_1", id:"send_feedback_button"}Send Feedback
            - else
              %button.medium{type: "button", class: "btn btn-primary agreement_buttons justify-content-center button_mailmerge_send_1 button_off", disabled: true}Send Feedback
          .container.col-xs-1.col-sm-1.no_padding_left.no_padding_right.col-sm-1_special.no_padding.margin_none.padding_left_small
            - if can? :manage, :feedback_mailmerge_edit
              %a.button.medium.btn.btn-primary.justify-content-center.agreement_buttons.button_mailmerge_edit.no_text{:href => feedback_mailmerge_edit_path(module_id: params[:module_id])} !!!

    - # Table of all module users with the option to change privilages
    .container-fluid.bg_none.bg_border.no_padding.margin_bottom_small{id: "module_users_table", name: "module_users_table"}
      - if @current_module_users.length <= 0
        .container.no_results
          %h.center_element.bigger.text_black No users match your search
      - else
        .container-fluid.bg_none.overflow_style.scroll_down.no_padding.table_div
          %table.table.table-hover.table-dark
            %thead
              %tr.stick_top
                %th.black_text{:colspan => "1", :style => "width: 5%;"} #
                %th.black_text{:colspan => "1", :style => "width: 30%;"} Name
                %th.black_text.center_element{:colspan => "1", :style => "width: 10%;"} Username
                %th.black_text.center_element{:colspan => "1", :style => "width: 20%;"} Email
                %th.black_text.center_element{:colspan => "1", :style => "width: 15%;"} Role
                %th.black_text.center_element{:colspan => "4", :style => "width: 20%;"} Action 
            %tbody
              - @current_module_users.to_a.each_with_index do |user, index|
                - if user[:givenname] == nil  
                  - user[:givenname] = ""
                - if user[:sn] == nil 
                  - user[:sn] = ""
                - whole_name = user[:givenname] + " " + user[:sn]
                - user_privilege = User.get_module_privilege(params[:module_id], user[:id])
                - if user_privilege.include?("teaching_assistant")
                  - user_privilege = "Teaching Assistant"
                - elsif user_privilege.include?("module_leader")
                  - user_privilege = "Module Leader"
                - elsif user_privilege.include?("student")
                  - user_privilege = "Student"
                %tr.small.hover_color
                  %td{:colspan => "1", :style => "width: 5%;"} #{index+1}
                  %td{:colspan => "1", :style => "width: 30%;"} #{whole_name}
                  %td.center_element{:colspan => "1", :style => "width: 10%;"} #{user[:username]}
                  %td.center_element{:colspan => "1", :style => "width: 20%;"} #{user[:email]}
                  %td.center_element{:colspan => "1", :style => "width: 15%;"} #{user_privilege}
                  %td.center_element{:colspan => "1", :style => "width: 20%;"} 
                    - if can? :manage, :admin_modules_privilege
                      %button{onclick: "popupCenter({url: '/admin/modules/privilege?module_id=#{params[:module_id]}&user_id=#{user[:id]}', title: 'Change Privilege', w: 650, h: 500}); ", type: "submit", name: "privilege_button",  class: "btn btn-primary action_buttons justify-content-center small", id:"submit_choice"}Change Privilege

  - # Module management buttons
  .container-fluid.bg_none.row.margin_bottom_small
    .container.col-xs-5.col-sm-3.no_padding_left.no_padding_right
      - if can? :manage, :admin_modules_groups
        %a.button.margin_left_none{:href => admin_modules_groups_path(:module_id => params[:module_id]), type: "button", name: "handbook_button",  class: "btn btn-primary agreement_buttons justify-content-center button_groups float_left_override", id:"handbook_choice"}Teams
    .container.col-xs-5.col-sm-3.no_padding_left.no_padding_right.padding_right_small
      - if can? :manage, :admin_modules_edit
        %a.button{:href => admin_modules_edit_path(:module_id => params['module_id']), class: "btn btn-primary agreement_buttons justify-content-center button_edit_clone float_left_override"}Edit/Clone Module
    .container.col-xs-8.col-sm-6.no_padding_left.no_padding_right
      - if can? :manage, :admin_modules_edit
        - if @last_finished_period != nil && @last_finished_period.feedback_status == "not_approved"
          %a.button{:href => feedback_review_all_path(:module_id => params[:module_id]), class: "btn btn-primary agreement_buttons justify-content-center button_review_feedback_all float_right"}Review Feedback
        - elsif @last_finished_period == nil || @last_finished_period.feedback_status == "approved"
          %button.button_off{disabled: true, class: "btn btn-primary agreement_buttons justify-content-center button_review_feedback_all float_right"}Review Feedback
    - if can? :manage, :add_remove_students_from_module
      .container-fluid.bg_none.no_padding.margin_bottom_small.bg_white.text_black
        %hr.group_line
      
      - # Options to add students to the module
      - if can? :manage, :add_remove_students_from_module
        .container-fluid.bg_none.no_padding.bg_border.margin_bottom_small.bg_white.text_black.border_none
          #accordion
            .card
              - # Upload a .CSV file
              #heading-1.card-header
                %h5.mb-0
                  %a.uni_purple.collapsed.no_after#a_tag{"aria-controls" => "collapse-1", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#collapse-1", role: "button"}
                    Upload a .CSV file            
              #collapse-1.collapse{"aria-labelledby" => "heading-1", "data-parent" => "#accordion"}
                .card-body
                  #accordion-1
                    .card-body.no_padding_override
                      .container.margin_bottom_small
                        %i Required information: Surname, Forename, Student Username, Email
                      - #= form_tag(admin_modules_preview_import_users_path(module_id: params[:module_id]), :multipart => true, :method => :post, :remote => true) do
                      %form{id: "import_csv_form", name: "import_csv_form"}
                        %input{id: "module_id", name: "module_id", type: "hidden", value: params['module_id']}
                        .container
                          .input-group
                            .custom-file
                              %input#file#customFileInput.custom-file-input{"aria-describedby" => "customFileInput", name: "file", type: "file", onchange: "readFile(this);"}
                              %label.custom-file-label{for: "customFileInput", id: "customFileLabel"} Select file
                          - #  Upload button
                          .input-group-append.margin_left_none.special_margin_top
                            %input.btn.btn-primary.agreement_buttons.justify-content-center.float_left_override{"data-disable-with" => "Upload", id: "import_csv", name: "import_csv", type: "button", value: "Upload"}
                        :javascript
                          document.querySelector('.custom-file-input').addEventListener('change', function (e) {
                            var name = document.getElementById("customFileInput").files[0].name;
                            var nextSibling = e.target.nextElementSibling
                            nextSibling.innerText = name
                          })
              - # Adding an individual user       
              #heading-2.card-header
                %h5.mb-0
                  %a.uni_purple.collapsed.no_after#a_tag{"aria-controls" => "collapse-2", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#collapse-2", role: "button"}
                    Add individual user
              #collapse-2.collapse{"aria-labelledby" => "heading-2", "data-parent" => "#accordion"}
                .card-body
                  #accordion-2
                    .card-body
                      = form_tag add_individual_user_path(:module_id => params[:module_id]), :method => :post, :id => 'add_user_form', remote: true do
                        .input-group.mb-3
                          %span#basic-addon1.input-group-text @
                          %input.form-control.basic_username{"aria-describedby" => "basic-addon1", "aria-label" => "Username", placeholder: "Username", type: "text", name: "add_username"}
                        .input-group.mb-3
                          %input.form-control{"aria-describedby" => "basic-addon2", "aria-label" => "E-mail", placeholder: "E-mail", type: "text", name: "add_email"}
                          %span#basic-addon2.input-group-text @sheffield.ac.uk
                        .input-group.mb-3
                          %input.form-control{"aria-label" => "First Name", placeholder: "First Name", type: "text", name: "add_first_name"}
                          %input.form-control{"aria-label" => "Last Name", placeholder: "Last Name", type: "text", name: "add_last_name"}
                        
                        - # Submit button
                        .container.no_padding
                          %button.margin_left_none.float_left{type: "submit", name: "add_user_button", value: "add_user", class: "btn btn-primary agreement_buttons justify-content-center button_create_user_1 float_left_override", id:"add_user"}Add user

:javascript
  no_file_selected();
  send_feedback('#{params['module_id']}');

- if ListModule.num_students_in_mod(params['module_id']) == 0 && (can? :manage, :add_remove_students_from_module)
  :javascript
    add_wizard_toast_no_href("You just created this module!", 
                    "The next step we suggest is to add students to this module, by clicking on <strong>\'Upload a .CSV file\'</strong>.");


