- # View for system privileges
- # Authors: Anton Minkov && Laney Deveson
- # Date: 05/04/2021

- content_for :title, "Admin Privileges"
  

.container.body_whole_custom_transparent
  
  - # Search form for system users
  .container-fluid.bg_none.no_padding.bg_border.margin_bottom_small.bg_white
    = simple_form_for :search_form do |f|
      .container-fluid.bg_none.text_black.center_text.special_margin_top
        %a.button.add.btn.btn-primary.button_topics.float_right.medium{:href => admin_path(module_id: params['module_id']), type: "button"} Go back
      .container-fluid.bg_none.no_padding
        = image_tag('search_logo.jpg', alt: 'Search Modules', class: 'search_logo_special')
      .container-fluid.bg_none.row.no_padding
        .container.col-xs-14.col-sm-9.no_padding_right
          = f.input :search_input, as: :string, label: false , required: false
        .container.col-xs-4.col-sm-3.no_padding_left
          = f.button :submit, "Search", name:"search_button", class: "btn btn-primary agreement_buttons justify-content-center button_search_special float_right", id:"submit_choice", "data-disable-with" => "Submitting.."

  - # Table of all system users with the option to change system privilge (suspend/admin)
  .container-fluid.bg_none.bg_border.no_padding
    - if @users_list.length <= 0
      .container.no_results
        %h.center_element.bigger.text_black No users match your search
    - else
      .container-fluid.bg_none.overflow_style.scroll_down.no_padding.table_div
        %table.table.table-hover.table-dark
          %thead 
            %tr 
              %th.black_text{:colspan => "1", :style => "width: 5%;"} #
              %th.black_text{:colspan => "1", :style => "width: 25%;"} Name
              %th.black_text.center_element{:colspan => "1", :style => "width: 10%;"} Username
              %th.black_text.center_element{:colspan => "1", :style => "width: 10%;"} Suspended
              %th.black_text.center_element{:colspan => "1", :style => "width: 10%;"} Admin
              %th.black_text.center_element{:colspan => "4", :style => "width: 40%;"} Actions
          %tbody
            = simple_form_for :privilege_form, :id => 'privilege_form' do |f|
              = f.input :form_username, :as => :hidden, :input_html => {:id => "form_username", :value => "" }
              - @users_list.to_a.each_with_index do |user, index|
                - if user[:givenname] == nil  
                  - user[:givenname] = ""
                - if user[:sn] == nil 
                  - user[:sn] = ""
                - whole_name = user[:givenname] + " " + user[:sn]
                %tr.small.hover_color
                  - suspendedBool = ""
                  - adminBool = ""
                  - if user[:suspended] == true 
                    - suspendedBool = "Yes"
                  - else  
                    - suspendedBool = "No"
                  - if user[:admin] == true 
                    - adminBool = "Yes"
                  - else  
                    - adminBool = "No"
                  %td{:colspan => "1", :style => "width: 5%;"} #{index+1}
                  %td{:colspan => "1", :style => "width: 25%;"} #{whole_name}
                  %td.center_element{:colspan => "1", :style => "width: 10%;"} #{user[:username]}
                  %td.center_element{:colspan => "1", :style => "width: 10%;"} #{suspendedBool}
                  %td.center_element{:colspan => "1", :style => "width: 10%;"} #{adminBool}
                  %td{:colspan => "1", :style => "width: 10%;"} 
                    = f.button :submit, "Suspend", name:"suspend_button", class: "btn btn-primary action_buttons justify-content-center small", id:"submit_choice", "data-disable-with" => false, onclick: "userFunction('#{user[:username]}')"
                  %td{:colspan => "1", :style => "width: 10%;"}
                    = f.button :submit, "Unsuspend", name:"unsuspend_button", class: "btn btn-primary action_buttons justify-content-center small", id:"submit_choice", "data-disable-with" => false, onclick: "userFunction('#{user[:username]}')"
                  %td{:colspan => "1", :style => "width: 10%;"} 
                    = f.button :submit, "Make Admin", name:"make_admin_button", class: "btn btn-primary action_buttons justify-content-center small", id:"submit_choice", "data-disable-with" => false, onclick: "userFunction('#{user[:username]}')"
                  %td{:colspan => "1", :style => "width: 10%;"} 
                    = f.button :submit, "Remove Admin", name:"remove_admin_button", class: "btn btn-primary action_buttons justify-content-center small", id:"submit_choice", "data-disable-with" => false, onclick: "userFunction('#{user[:username]}')"


