- # View for creating teams
- # Authors: Anton Minkov && Laney Deveson
- # Date: 14/04/2021

- content_for :title, "Create groups"

.container.body_whole_custom
  .container-fluid.text_black.bg_none.margin_top
    .container-fluid.bg_none.text_black.margin_top.bigger
      #{@module_info.name} - #{@module_info.code} - Level #{@module_info.level}
      %a.button.add.btn.btn-primary.button_topics.float_right.medium{:href => admin_modules_groups_path(:module_id => params[:module_id]), type: "button"} Go Back
      .container-fluid.bg_none.text_black.margin_top.small.float_left.no_padding.margin_none{id: "students_no_team_num"}
        Students in module: #{@num_of_students}
        %hr.group_line.margin_top_half_rem
    
  - # Select group type
  .container-fluid.bg_none.text_black.medium
    = form_with(url: admin_modules_groups_create_path(module_id: params['module_id']), id: "create_groups_form", remote: true) do |form|
      %input{id: "rand_btn", name: "rand_btn", type: "hidden", value: ""}
      %input{id: "topic_btn", name: "topic_btn", type: "hidden", value: ""}
      %input{id: "module_id", name: "module_id", type: "hidden", value: params['module_id']}
      .container-fluid.bg_none.text_black.medium
        %p.margin_none
          %button.btn.btn-primary.button_topics#normal_toggle{"aria-controls" => "normalCollapse", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#normalCollapse", role: "button", onclick: "tempDisableButton(); normalButtonChange('#{@num_of_students}')", value: "disabled", type: "button"} Random/Free join
          %button.btn.btn-primary.button_topics#topic_toggle{"aria-controls" => "topicCollapse", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#topicCollapse", role: "button", onclick: "topicButtonChange('#{@num_of_students}'); tempDisableButton()", value: "disabled", type: "button"} Enable Topics
    
    
      - # Content for creating groups without topics
      .container-fluid.bg_none.text_black.small
        #normalCollapse.collapse
          %hr.special_line
          .container-fluid.text_black.bg_none.no_padding.margin_bottom_2.margin_top.small
            %p.margin_none.student_numbers
              %span.margin_none#student_tracker_normal #{@num_of_students} students do not have teams
              %span.margin_none#spot_tracker_normal
          .container-fluid.text_black.bg_none.margin_bottom_2.no_padding
            %label.margin_bottom_small.group_creation_input{for: "normal_group_size"} Students per team?
            %input.form-control#normal_group_size.group_creation_input#normal_size{placeholder: "Example: 14", type: "text", name: "random_group_size"}
          .container-fluid.text_black.bg_none.margin_bottom_small.no_padding
            %label.margin_bottom_small.group_creation_input{for: "normal_group_size"} How many teams?
            %input.form-control#normal_group_amount.group_creation_input#normal_amount{placeholder: "Example: 6", type: "text", name: "random_num_of_groups"}
          .container-fluid.text_black.bg_none.margin_bottom_small.no_padding.special_margin_top
            .form-check
              %input#flexCheckChecked.form-check-input.border_none{checked: false, type: "checkbox", value: "checked", name: "random_free_join"}
              %label.form-check-label{for: "flexCheckChecked"}
                Let students join teams


      - # Content for creating groups with topics
      .container-fluid.bg_none.text_black.small
        #topicCollapse.collapse
          %hr.special_line
          .container-fluid.text_black.bg_none.margin_bottom_small.no_padding.margin_top.small
            %button.add.btn.btn-primary.button_topics{id: "add_topic_button", type: "button", onclick: "addTopic()"}Add Topic
            %button.remove.btn.btn-primary.button_topics{id: "remove_topic_button",type: "button", onclick: "removeTopic()"} Remove Topic
          .container-fluid.text_black.bg_none.no_padding
            %p.margin_none.student_numbers
              %span.margin_none#student_tracker #{@num_of_students} students do not have teams
              %span.margin_none#spot_tracker
          .container-fluid.text_black.bg_none.special_margin_top.margin_bottom_small.no_padding
            .input-group.flex-nowrap.special_width_topic
              %input.form-control.special_width_topic_name#topic_1{name: "topic_1", placeholder: "Topic 1", type: "text"}
              %input.form-control#size_1{name: "size_1", placeholder: "Team Size", type: "text"}
              %input.form-control#amount_1{name: "amount_1", placeholder: "№ of Teams", type: "text"}
            - # Keeping track of amount of topics
            #new_chq
            %input#total_chq{type: "hidden", name: "total_chq", value: "1"}
          .container-fluid.text_black.bg_none.margin_bottom_small.no_padding.special_margin_top
            .form-check
              %input#flexCheckChecked.form-check-input.border_none{checked: false, type: "checkbox", value: "checked", name: "topic_free_join"}
              %label.form-check-label{for: "flexCheckChecked"}
                Let students join teams

      - # Setting up feedback frequency
      .container-fluid.bg_none.text_black.medium
        %hr.group_line.margin_top
        .container-fluid.bg_none.text_black.medium.margin_bottom_2.no_padding.bigger
          %h Set up feedback/meeting periods
          %hr.special_line.margin_none
        .container-fluid.text_black.bg_none.margin_bottom_small.no_padding
          - current_time = Time.now.strftime("%Y-%m-%dT%H:%M")
          - one_day_from_now = (Time.now + 7.days).strftime("%Y-%m-%dT%H:%M")
          %button.add.btn.btn-primary.button_topics{id: "add_period_button", type: "button", onclick: "addPeriod()"}Add period
          %button.remove.btn.btn-primary.button_topics{id: "remove_period_button", type: "button", onclick: "removePeriod()"} Remove period

        - # Generating time periods
        .container-fluid.text_black.bg_none.special_margin_top.margin_bottom_small.no_padding.float_left
          .container-fluid.text_black.bg_none.margin_bottom_small.no_padding.special_size_1.float_left
            .container-fluid.text_black.bg_none.no_padding.margin_bottom_small
              %p.margin_none
                %strong#time_name_1
                  Period 1
            - # Time period start date
            .container-fluid.text_black.bg_none.no_padding.margin_bottom_small
              %label#start_time_label_1{for: "start_time_1_time"} Start Date: 
              %input#start_time_1.float_right{name: "start_time_1", type: "datetime-local", value: "#{current_time}"}
            - # Time period end date
            .container-fluid.text_black.bg_none.no_padding.margin_bottom_small
              %label#end_time_label_1{for: "end_time_1_time"} End Date:   
              %input#end_time_1.float_right{name: "end_time_1", type: "datetime-local", value: "#{one_day_from_now}"}
            %hr.special_line.margin_none
        
        - # Keeping track of amount of periods
        #new_chq_period
        %input#total_chq_period{type: "hidden",name: "total_chq_period", value: "1"}

      .container-fluid.bg_none.text_black.medium.margin_bottom_2
        %hr.group_line
        - if @all_teams_approved == false
          %button.add.btn.btn-primary.button_topics.button_off{type: "button",id: "create_groups_button", name:"create_groups_button"} Create
        - else
          %button.add.btn.btn-primary.button_topics{type: "button",id: "create_groups_button", name:"create_groups_button", onclick: "create_groups();"} Create
          