- # View for group page preview
- # Authors: Anton Minkov && Laney Deveson
- # Date: 08/04/2021

- content_for :title, "Group Preview"

.container.body_whole_custom
  .container-fluid.bg_none.text_black.margin_top.bigger
    - team_topic = "-"
    - if @selected_group_team.topic != "none"
      - team_topic = "- " + @selected_group_team.topic + " -"
    #{@selected_group_team.name} #{team_topic}
    #{@current_team_size}/#{@max_team_size}
    %a.button.float_right.no_padding.btn.btn-primary.agreement_buttons.justify-content-center.button_go_back_1.medium.button_small{:href => admin_modules_groups_path(module_id: params[:module_id]), type: "button"} Go Back
    %hr.group_line
    
    - # Generate table for students in the group
    .container-fluid.bg_none.bg_border.no_padding.margin_bottom_small
      - if @current_team_users.length <= 0
        .container.no_results
          %h.center_element.bigger.text_black No students in the team
      - else
        .container-fluid.bg_none.overflow_style.scroll_down.no_padding.table_div
          %table.table.table-hover.table-dark 
            %tbody
              %tr.medium
                %th.black_text{:colspan => "1", :style => "width: 5%;"} #
                %th.black_text{:colspan => "1", :style => "width: 30%;"} Name
                %th.black_text.center_element{:colspan => "1", :style => "width: 10%;"} Username
                %th.black_text.center_element{:colspan => "1", :style => "width: 20%;"} Email
                %th.black_text.center_element{:colspan => "1", :style => "width: 15%;"} Last Login
                %th.black_text.center_element{:colspan => "4", :style => "width: 20%;"} Action
                - @current_team_users.to_a.each_with_index do |user, index|
                  - if user[:givenname] == nil  
                    - user[:givenname] = ""
                  - if user[:sn] == nil 
                    - user[:sn] = ""
                  - whole_name = user[:givenname] + " " + user[:sn]
                  %tr.small.hover_color
                    = form_tag admin_modules_groups_preview_path(module_id: params['module_id'], team_id: params['team_id']), :method => :post, :id => 'remove_student_form' do
                      %input#user_remove_id{name: "student_remove_id", type: "hidden", value: user[:id]}
                      - last_login = user[:last_sign_in_at]
                      - if last_login.nil?
                        - last_login = ""
                      - else
                        - last_login = user[:last_sign_in_at].strftime("%d/%m/%Y")
                      %td{:colspan => "1", :style => "width: 5%;"} #{index+1}
                      %td{:colspan => "1", :style => "width: 30%;"} #{whole_name}
                      %td.center_element{:colspan => "1", :style => "width: 10%;"} #{user[:username]}
                      %td.center_element{:colspan => "1", :style => "width: 20%;"} #{user[:email]}
                      %td.center_element{:colspan => "1", :style => "width: 15%;"} #{last_login}
                      %td.center_element{:colspan => "1", :style => "width: 20%;"} 
                        %button{type: "submit", name: "remove_student_button",  class: "btn btn-primary action_buttons justify-content-center small", id:"remove_user_button", value: "remove_student"}Remove Student
    %hr.group_line

    - # Display all the problems in the group and their status
    .container-fluid.bg_none.no_padding.margin_bottom_small
      .container-fluid.bg_none.no_padding.text_black
        - problems = Problem.get_problems_for_team(params['team_id'])
        - if problems.length <= 0
          .container.no_results
            %h.center_element.medium.text_black No problems in this group
        - else
          - last_i = 0
          #accordion
            .card
              - for i in 1..problems.length
                - true_i = 0
                - if i == problems.length
                  - true_i = 1
                - else
                  - true_i = i + 1
                
                - # Problem name and label
                #heading-1.card-header
                  %h5.mb-0
                    %a.uni_purple.collapsed#a_tag{"aria-controls" => "collapse-#{true_i}", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#collapse-#{true_i}", role: "button"}
                      - if problems[i-1].status != "assigned"
                        - assigned = ""
                      - else
                        - assigned = "- Assigned to " + User.get_first_last(problems[i-1].assigned_to)
                      Problem #{i} #{assigned}
                      - if problems[i-1].status == "unsolved"
                        %span.dot_red.float_right
                      - elsif problems[i-1].status == "assigned"
                        %span.dot_yellow.float_right
                      - elsif problems[i-1].status == "solved"
                        %span.dot_green.float_right

                #collapse-1.collapse{"aria-labelledby" => "heading-#{true_i}", "data-parent" => "#accordion"}
                  .card-body
                    #accordion-1
                      
                      - # Problem content
                      .card.small.bg_none
                        - created_at = problems[i-1].created_at.strftime("%I:%M %p - %d/%m/%Y")
                        - if problems[i-1].solved_on != nil
                          - solved_on = problems[i-1].solved_on.strftime("%I:%M %p - %d/%m/%Y")
                        - else
                          - solved_on = ""
                        - if problems[i-1].solved_by != nil
                          - solved_by = User.get_first_last(problems[i-1].solved_by) + " - " + User.get_email(problems[i-1].solved_by)
                        - else
                          - solved_by = ""
                        %p Created by: #{User.get_first_last(problems[i-1].created_by)} - #{User.get_email(problems[i-1].created_by)}
                        %p Created on: #{created_at}
                        %p Solved by: #{solved_by}
                        %p Solved on: #{solved_on}
                        %hr.group_line
                        %p Note: #{problems[i-1].note}
                        %hr.group_line
                        = simple_form_for :problem_form do |f|
                          = f.input :form_module_id, :as => :hidden, :input_html => {:id => "form_module_id", :value => params[:module_id] }
                          = f.input :form_problem_id, :as => :hidden, :input_html => {:id => "form_problem_id", :value => problems[i-1].id }
                          = f.input :form_team_id, :as => :hidden, :input_html => {:id => "form_team_id", :value => params['team_id'] }
                          .container-fluid.bg_none.row.no_padding.margin_bottom_small
                            - if problems[i-1].status != "solved"
                              - if can? :manage, :problems
                                - if @ta_and_mod_lead.length > 0
                                  .container.col-xs-6.col-sm-3.no_padding.text_black
                                    = f.input :assign_list, as: :select, collection: @ta_and_mod_lead, label: false, include_blank: false, required: false
                                  .container.col-xs-6.col-sm-5
                                    = f.button :submit, "Assign", name:"assign_button", class: "btn btn-primary agreement_buttons justify-content-center button_assign float_left", id:"assign_button"
                                - else
                                  .container.col-xs-6.col-sm-3.no_padding.text_black
                                    No teaching assistants or module leaders in this module.
                                  .container.col-xs-6.col-sm-5
                                    = f.button :button, "Assign", class: "btn btn-primary agreement_buttons justify-content-center button_assign float_left button_off"
                            - current_user_privilege = ListModule.privilege_for_module(current_user.username, params[:module_id])
                            - if (current_user_privilege.include?("module_leader") || current_user.admin || current_user.username == problems[i-1].assigned_to) && problems[i-1].status != "solved"
                              .container.col-xs-6.col-sm-4.no_padding_left.no_padding_right
                                = f.button :submit, "Mark as solved", type: "submit", name: "solve_button",  class: "btn btn-primary agreement_buttons justify-content-center button_solve", id:"solve_button"

                - # Renaming id's during accordeon generation to avoid duplicates
                :javascript
                  document.getElementById('heading-1').id = 'heading-#{i}';
                  document.getElementById('collapse-1').id = 'collapse-#{i}';
                  document.getElementById('accordion-1').id = 'accordion-#{i}';
    %hr.group_line

    - # Search form for adding students
    .container-fluid.bg_none.no_padding.bg_border.margin_bottom_small.bg_white.no_border
      = simple_form_for :search_form do |f|
        .container-fluid.bg_none.no_padding
          = image_tag('search_logo.jpg', alt: 'Search Users', class: 'search_logo margin_none')
        .container-fluid.bg_none.row.no_padding.margin_bottom_none  
          = f.input :form_module_id, :as => :hidden, :input_html => {:id => "form_module_id", :value => params[:module_id] }
          = f.input :form_team_id, :as => :hidden, :input_html => {:id => "form_team_id", :value => params[:team_id] }
          .container.col-xs-9.col-sm-5.no_padding_right.no_padding_left
            = f.input :search_input, as: :string, label: false , required: false
          .container.col-xs-9.col-sm-7.no_padding_left
            = f.button :submit, "Search", name:"search_button", class: "btn btn-primary agreement_buttons justify-content-center button_search_3 float_left no_padding bigger", id:"search_choice"

    - # Table of students in the module but NOT in a group
    .container-fluid.bg_none.bg_border.no_padding.margin_bottom_small
      - if @users_in_module_but_not_in_team.length <= 0
        .container.no_results
          %h.center_element.bigger.text_black No users match your search
      - else
        .container-fluid.bg_none.overflow_style.scroll_down.no_padding.table_div
          %table.table.table-hover.table-dark 
            %tbody
              %tr.medium
                %th.black_text{:colspan => "1", :style => "width: 5%;"} #
                %th.black_text{:colspan => "1", :style => "width: 30%;"} Name
                %th.black_text.center_element{:colspan => "1", :style => "width: 10%;"} Username
                %th.black_text.center_element{:colspan => "1", :style => "width: 20%;"} Email
                %th.black_text.center_element{:colspan => "1", :style => "width: 15%;"} Last Login
                %th.black_text.center_element{:colspan => "4", :style => "width: 20%;"} Action
                - @users_in_module_but_not_in_team.to_a.each_with_index do |user, index|
                  - if user[:givenname] == nil  
                    - user[:givenname] = ""
                  - if user[:sn] == nil 
                    - user[:sn] = ""
                  - whole_name = user[:givenname] + " " + user[:sn]
                  %tr.small.hover_color
                    = form_tag admin_modules_groups_preview_path(module_id: params['module_id'], team_id: params['team_id']), :method => :post, :id => 'add_student_form' do
                      %input#user_remove_id{name: "student_add_id", type: "hidden", value: user[:id]}
                      - last_login = user[:last_sign_in_at]
                      - if last_login.nil?
                        - last_login = ""
                      - else
                        - last_login = user[:last_sign_in_at].strftime("%d/%m/%Y")
                      %td{:colspan => "1", :style => "width: 5%;"} #{index+1}
                      %td{:colspan => "1", :style => "width: 30%;"} #{whole_name}
                      %td.center_element{:colspan => "1", :style => "width: 10%;"} #{user[:username]}
                      %td.center_element{:colspan => "1", :style => "width: 20%;"} #{user[:email]}
                      %td.center_element{:colspan => "1", :style => "width: 15%;"} #{last_login}
                      %td.center_element{:colspan => "1", :style => "width: 20%;"} 
                        %button{type: "submit", name: "add_student_button",  class: "btn btn-primary action_buttons justify-content-center small", id:"submit_choice", value: "add_student"}Add Student
