- content_for :title, "TOA"

.container.body_whole
  .container 
    %img.toa_logo{:src => "/assets/me_logo.png", :alt => "Department of Mechanical Engineering"}
  //logo somewhere here later
  = simple_form_for :form_examples do |f|
    .container.better_header
      %h Team Operating Agreement
    %table.table_main

      %colgroup
        %col{:span => "1", :style => "width: 20%;"}
        %col{:span => "1", :style => "width: 80%;"}

      %tbody
        %tr
          %td.column_name Project Name 
          %td.column_content{:contenteditable => false} Enter project name
        %tr
          %td.column_name Module
          %td.column_content{:contenteditable => false} Enter module name
        %tr
          %td.column_name Module Leader
          %td.column_content{:contenteditable => false} Enter module leader
        %tr
          %td.column_name Team Name
          %td.column_content{:contenteditable => false} Enter team name
        %tr
          %td.column_name Start Date
          %td.column_content{:contenteditable => false} Enter start date
        %tr
          %td.column_name End Date
          %td.column_content{:contenteditable => false} Enter end date

    %p.only_bold
      Purpose of the Team Operating Agreement
    %P.filler_text
      This Operating Agreement serves as the guidelines and ground rules 
      to help the project team work productively together over the course 
      of the project lifecycle. The aim is to help you avoid disagreements 
      about your approach to working within your team, and to help you resolve 
      disagreements if they do arise. The agreement is a living document and may be 
      updated as the need arises throughout the project. Any updates will be discussed 
      with and ratified by the project team members, and should be recorded below.
    %hr.group_line
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////
    %p.only_bold
      Team Mission
    %P.filler_text.long_content
      = f.input :text, as: :text, label: false , required: false, input_html: { readonly: true }
    %hr.group_line
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////
    %p.only_bold
      Team Communications
    %P.filler_text
      Describe how project team members will communicate with each other. Include where 
      project documents will be stored (e.g. Google Team Drive, and a link) and how they 
      may be accessed; how and when meeting agendas and minutes will be distributed; and 
      how confidential information will be handled. List all team members’ email and 
      mobile numbers, Facebook name etc.; their preferred communication method; and 
      any times/days that they are unavailable to be contacted.
    %hr.group_line.thinner_line
      = f.input :text, as: :text, label: false , required: false, input_html: { readonly: true }
    %hr.group_line
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////
    %p.only_bold
      Decision Making
    %P.filler_text
      Describe how project team members will make decisions. Everyone must agree on how 
      decisions will be made to ensure that everyone can live with the outcomes, and 
      to ensure that the project can move forward. Include guidelines for voting on 
      decisions, how decisions will be documented, definitions of key terms, and what 
      happens if the team cannot come to a decision.
    %hr.group_line.thinner_line
      = f.input :text, as: :text, label: false , required: false, input_html: { readonly: true }
    %hr.group_line
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////
    %p.only_bold
      Meetings
    %P.filler_text
      So much project work and decision-making happens during meetings that it is 
      important to establish how project team meetings will work. Address what will 
      happen at meetings (generally). Establish who will be responsible for the 
      facilitating, frequency, and scheduling of meetings, and attendance expectations.
    %hr.group_line.thinner_line
    %P.filler_text.long_content
      = f.input :text, as: :text, label: false , required: false, input_html: { readonly: true }
    %hr.group_line
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////
    %p.only_bold
      Personal Courtesies
    %P.filler_text
      Outline the personal courtesies that team members will extend to one another. 
      The contents of this section depend largely on the culture of your team. 
      Do not assume that personal behaviors are understood, and pay particular attention 
      to any cultural differences, if you are working in a multicultural team.
    %hr.group_line.thinner_line
      = f.input :text, as: :text, label: false , required: false, input_html: { readonly: true }
    %hr.group_line
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////

    %h.header_agreemnet Agreement 

    .container-fluid.white_bg.push_top
      %div.row
        %div.col-xs-6.col-sm-4
          //%p.text_black.small_bottom_margin Name: 
          = f.input :string, as: :string, label: "Name:" , required: true, input_html: { readonly: true }
        %div.col-xs-6.col-sm-4 
          //%p.text_black.small_bottom_margin Signature: 
          = f.input :string, as: :string, label: "Signature:" , required: true, input_html: { readonly: true }
        %div.col-xs-6.col-sm-4
          //%p.text_black.small_bottom_margin Date: 
          = f.input :string, as: :string, label: "Date:" , required: true, input_html: { readonly: true }
      
      %hr.group_line.thinner_line

      %div.row
        %div.col-xs-6.col-sm-4
          //%p.text_black.small_bottom_margin Name: 
          = f.input :string, as: :string, label: "Name:" , required: true, input_html: { readonly: true }
        %div.col-xs-6.col-sm-4 
          //%p.text_black.small_bottom_margin Signature: 
          = f.input :string, as: :string, label: "Signature:" , required: true, input_html: { readonly: true }
        %div.col-xs-6.col-sm-4
          //%p.text_black.small_bottom_margin Date: 
          = f.input :string, as: :string, label: "Date:" , required: true, input_html: { readonly: true }

      %hr.group_line.thinner_line

      %div.row
        %div.col-xs-6.col-sm-4
          //%p.text_black.small_bottom_margin Name: 
          = f.input :string, as: :string, label: "Name:" , required: true, input_html: { readonly: true }
        %div.col-xs-6.col-sm-4 
          //%p.text_black.small_bottom_margin Signature: 
          = f.input :string, as: :string, label: "Signature:" , required: true, input_html: { readonly: true }
        %div.col-xs-6.col-sm-4
          //%p.text_black.small_bottom_margin Date: 
          = f.input :string, as: :string, label: "Date:" , required: true, input_html: { readonly: true }

      %hr.group_line.thinner_line

      %div.row
        %div.col-xs-6.col-sm-4
          //%p.text_black.small_bottom_margin Name: 
          = f.input :string, as: :string, label: "Name:" , required: true, input_html: { readonly: true }
        %div.col-xs-6.col-sm-4 
          //%p.text_black.small_bottom_margin Signature: 
          = f.input :string, as: :string, label: "Signature:" , required: true, input_html: { readonly: true }
        %div.col-xs-6.col-sm-4
          //%p.text_black.small_bottom_margin Date: 
          = f.input :string, as: :string, label: "Date:" , required: true, input_html: { readonly: true }

      %hr.group_line.thinner_line


    .container-fluid.white_bg.push_top
      = f.button :submit, "Submit", class: "btn btn-primary agreement_buttons justify-content-center button_toa_1", id:"submit_choice", onclick:"getSelectedModule()", "data-disable-with" => "Submitting.."
      = f.button :submit, "Save", class: "btn btn-primary agreement_buttons justify-content-center button_toa_2", id:"submit_choice", onclick:"getSelectedModule()", "data-disable-with" => "Saving.."
            
