- content_for :title, "Modules"

-# %button#show-flash.btn.btn-outline-primary{ type: :button }
-#     = navbar_link_to :root, title: "Go to home page", identifier: :home do
-#         = icon 'fas', 'exclamation-circle', 'Go to the home page'

.card.mb-3.card.mb-3-student
  .card-header.card-header-student
    Choose module
  .card-body.card-body-student
    - collection = session[:modules] #Defines the options in radio buttons/dropdowns

    = simple_form_for :module_choice,:action => show_team do |f|
      //= f.label 'hello'
      //= f.input :string, as: :integer, label: 'false' , required: false

      //select2 is the header of the field, collection specifies options
      //= f.input :select2, as: :select, collection: collection, input_html: { class: 'module_dropdown', id: 'module_dropdown' , name: 'selected_module'}, include_blank: false, label: false, requied: false
      = f.collection_select :module_id, collection, :id, :name, {},  {:class=> "module_dropdown form-select", :id=> "module_dropdown"}
      = f.button :submit, "Select", class: "btn btn-primary select_module d-flex justify-content-center", id:"submit_choice", "data-disable-with" => "Loading.."

- if params["module_choice"] == nil
  .container.module_body.see_trough
    %img.choose_logo_middle{:src => "/assets/choose_logo.png", :alt => "Please choose"}
- else
  .container.module_body
    %h1{:id => "module_name", :class => "bigger"} #{session[:module_name].name}
    .container.module_info#hider
      .container.module_div.module_group#module_group.small
        - if session[:team_info].nil?
          %h.group_header.medium You are not in a team
        - elsif session[:team_members] == nil
          %h.group_header.medium #{session[:team_info].name}
          %hr.group_line
          %p Team members unavailable 
        - else
          %h.group_header.medium #{session[:team_info].name}
          - if session[:team_info].topic != "none"
            %p Team topic: #{session[:team_info].topic}
          %hr.group_line
          - session[:team_members].each do |currentMember|
            %p 
              username: #{currentMember.username}
              %br
              E-mail: #{currentMember.email}
              %hr.group_line
      .container.module_div.module_feedback#module_feedback.small
        %h.feedback_header
        %ul
          %strong.feedback_header.medium
            Open:
          %i.feedback_header.medium
            date - date 
          - if session[:team_info].nil?
            %li Team Meeting Record Unavailable
          - else
            %li #{link_to "Team Meeting Record", tmr_path(:team_id => session[:team_info].id)}
          %li Peer Feedback Matrix
        %ul
          %strong.feedback_header.medium 
            Additional Info: 
          -# Have to make check here if there is team
          - if session[:team_info].nil?
            %li Team Operating Agreement Unavailable
          - else
            %li #{link_to "Team Operating Agreement", toa_path(:team_id => session[:team_info].id)}
          %li Feedback History

:coffee
  $ ->
    $('#show-flash').on 'click', ->
      $.flashAlert('big pp world!', 'alert-success')