- # View for previous feedback
- # Authors: Anton Minkov && Laney Deveson
- # Date: 08/05/2021

- content_for :title, "Profile - Previous Feedback"

.container-fluid.bg_none.no_padding
  - if @inactive_modules.length == 0
    .container-fluid.bg_none.no_padding.bg_border.margin_bottom_small.bg_white.text_black
      %h5.text_black.mb-3.mt-3.text_center 
        No feedback currently available
  - else
    .main-body.no_padding_top
      .row.gutters-sm
        .col-md-3.mb-2
          .card.card_border.text_black
            %ul.list-group.list-group-flush
              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap.list_padding_small.width_100.center_text.list-group-item_special 
                %h5.mb-0.width_100
                  Previous Modules
              - # Loop trough PREVIOUS modules that student is in
              - for i in 0...@inactive_modules.length
                %li.list-group-item.justify-content-between.align-items-center.flex-wrap.list_padding_smaller.list-group-item_special 
                  %h8.mb-0.smaller
                    %b
                      #{@inactive_modules[i].code}
                    #{@inactive_modules[i].name}
                  %span.text-secondary.float_right
                    %i.small
                      #{@inactive_modules[i].semester}
                  %hr.no_padding.margin_none
                  %ul
                    - inactive_teams = ListModule.get_inactive_teams_for_user(@inactive_modules[i].id, current_user.username)
                    - # Loop trough teams that the student is in for that module
                    %input{id: "num_of_teams_#{i}", name: "num_of_teams_#{i}", type: "hidden", value: inactive_teams.length}
                    - for z in 0...inactive_teams.length
                      %input{id: "selected_team_id_#{i}_#{z}", name: "selected_team_id_#{i}_#{z}", type: "hidden", value: inactive_teams[z].id}
                      %li.list-group-item.justify-content-between.align-items-center.flex-wrap.list_padding_smaller.bg_none.module_hover{id: "team_line_#{i}_#{z}" }
                        %h8.mb-0.smaller
                          %i
                            #{inactive_teams[z].name}
                      %hr.no_padding.margin_none
                  

        .col-md-9.mb-2.no_padding_left_force
          .row.gutters-sm
            .col-sm-12.mb-6
              .card.h-100.card_border.text_black
                .card-body{id: "feedback_graph_old_div"}
                  %p Please select a team for which you want to view feedback.
                

:javascript
  selectTeam(#{@inactive_modules.length});