- # View for student profiles
- # Authors: Anton Minkov && Laney Deveson
- # Date: 06/05/2021

- content_for :title, "Profile - #{@full_name}"

.container
  .main-body.no_padding_top
    .row.gutters-sm
      .col-md-4.mb-2
        .card.card_border
          .card-body
            .d-flex.flex-column.align-items-center.text-center
              %img.rounded-circle{alt: "Student", src: "https://www.pikpng.com/pngl/m/80-805523_default-avatar-svg-png-icon-free-download-264157.png", width: "30%"}
              .mt-3
                %h4 #{@full_name}
                %p.text-secondary.mb-1 Department code: #{@department}
                //%p.text-muted.font-size-sm Bay Area, San Francisco, CA
                //%button.btn.btn-primary Follow
                = link_to destroy_user_session_path, class: 'btn btn-outline-primary text_dark text_dark_hover special_margin_top', method: :delete, title: "Log out of the system" do
                  = icon 'fas', 'sign-out-alt', 'Log out'

        .card.mt-2.card_border
          %ul.list-group.list-group-flush
            %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap.list_padding_small.width_100.center_text
              %h5.mb-0.width_100
                Active modules
            - for i in 0...(@active_modules.length)
              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap.list_padding_small.module_hover{id: "mod_line_" + "#{i.to_s}", value: @active_modules[i].id}
                %h8.mb-0.smaller
                  %b
                    #{@active_modules[i].code}
                  #{@active_modules[i].name}
                %span.text-secondary 
                  %i.smaller
                    #{@active_modules[i].semester}

      .col-md-8.mb-2.no_padding_left_force{id: "team_info_big_div"} 
        .row.gutters-sm
          .col-sm-7   
            .card.mb-2.card_border#need_height
              .card-body
                .row
                  .col-sm-4
                    %h6.mb-0 Full Name
                  .col-sm-8.text-secondary
                    #{@full_name}
                %hr/
                .row
                  .col-sm-4
                    %h6.mb-0 Username
                  .col-sm-8.text-secondary
                    #{@username}
                %hr/
                .row
                  .col-sm-4
                    %h6.mb-0 E-mail
                  .col-sm-8.text-secondary
                    #{@email}
          
          .col-sm-5.no_padding_left_force
            .card.mb-2.card_border#same_height
              .card-body{id: "feedback_links_div"}
                Please select a Module to view team information.

        .row.gutters-sm
          .col-sm-12.mb-2
            .card.h-100.card_border
              .card-body{id: "teammates_info_div"}
                Please select a Module to view team information.

      
      .col-md-12.mb-2
        .row.gutters-sm
          .col-sm-12.mb-6
            .card.h-100.card_border
              .card-body{id: "feedback_graph_active_div"}
                Please select a Module to view feedback from your team.   
                

      .col-md-12.mb-3
        .row.gutters-sm
          .col-sm-7.mb-2
            .card.h-100.card_border
              .card-body{id: "feedback_overall_div"}
                Please select a Module to view feedback from your team.
          
          .col-sm-5.mb-2.no_padding_left_force
            .card.h-100.card_border
              .card-body
                %h6.d-flex.align-items-center.mb-2.text_center
                  %i.material-icons.text-info.mr-2 records
                  Old Records 
                .hr.group_line.mb-3
                %p 
                  %a{href: student_profile_feedback_old_path()} Previous Feedback
                %hr
                %p 
                  %a{href: student_profile_docs_old_path()} Previous Documents
                %hr
                
:javascript
  selectModule(#{@active_modules.length});