- content_for :title, "Team Operating Agreement"

.container.body_whole_custom
  - start_date = @current_feedback_date.start_date.strftime("%d/%m/%Y %H:%M")
  - end_date = @current_feedback_date.end_date.strftime("%d/%m/%Y %H:%M")
  - if @current_feedback_date.tmr_status == "submitted" || @current_feedback_date.tmr_status == "finished"
    .container.container_middle.special_margin_top
      %h1.bigger Team Meeting Record #{start_date} - #{end_date}
      //Height 6900 for full template to show
      %iframe{src: "#{rails_blob_path(@current_feedback_date.tmr, disposition: :inline)}", width: "900", height: "800"}
  - else
    .container.margin_top
      %h1.bigger There is no Team Meeting Record Submission #{start_date} - #{end_date}
      %hr.group_line
  - if @current_feedback_date.tmr_status == "in_progress"
    .container
      %i Upload a .pdf file with the Team Meeting Record
    = form_tag(tmr_path(team_id: params['team_id'], module_id: params['module_id']), :multipart => true) do
      %input#custId{name: "team_id", type: "hidden", value: params[:team_id]}/
      .container
        .input-group
          .custom-file
            //%input#customFileInput.custom-file-input{"aria-describedby" => "customFileInput", type: "file"}
            %input#file#customFileInput.custom-file-input{"aria-describedby" => "customFileInput", name: "file", type: "file"}
            %label.custom-file-label{for: "customFileInput"} Select file
        .input-group-append.margin_left_none.special_margin_top.margin_bottom_small
          %input.btn.btn-primary.agreement_buttons.justify-content-center.float_left_override{"data-disable-with" => "Upload", name: "commit", type: "submit", value: "Submit"}/
        %hr.group_line
      :javascript
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
          var name = document.getElementById("customFileInput").files[0].name;
          var nextSibling = e.target.nextElementSibling
          nextSibling.innerText = name
        })
    
  - else
    .container-fluid.white_bg.push_top.container_middle
      %form#acceptreject{action: tmr_path(team_id: params['team_id'], module_id: params['module_id']), method: "get"}
        %input#team_id{name: "team_id", type: "hidden", value: params[:team_id]}
        %input#module_id{name: "module_id", type: "hidden", value: params[:module_id]}
        - if @tmr_sign_status == false
          %button.btn.btn-primary.agreement_buttons_2.justify-content-center.button_toa_1{form: "acceptreject", type: "submit", value: "Accept", name: "accept_button"} Accept
          %button.btn.btn-primary.agreement_buttons_2.justify-content-center.button_toa_2{form: "acceptreject", type: "submit", value: "Reject", name: "reject_button"} Reject
        - elsif @tmr_sign_status == true && @current_feedback_date.tmr_status == "submitted"
          %button.btn.btn-primary.half_button.justify-content-center.button_toa_1{form: "acceptreject", type: "button", value: "Signed", name: "signed_button"} Signed
        - elsif @current_feedback_date.tmr_status == "finished"
          %button.btn.btn-primary.half_button.justify-content-center.button_toa_1{form: "acceptreject", type: "button", value: "Agreement accepted", name: "agreement_accepted_button"} Team Meeting Record accepted

  .container
    %h.medium Report a problem with the team
    %form#report{action: tmr_path(team_id: params['team_id'], module_id: params['module_id']), method: "get"}
      %input#team_id{name: "team_id", type: "hidden", value: params[:team_id]}
      %input#module_id{name: "module_id", type: "hidden", value: params[:module_id]}
      .form-group
        %textarea.form-control{rows: "5", name: "report_note"}
      .input-group-append.margin_left_none.special_margin_top.margin_bottom_small
        %input.btn.btn-primary.agreement_buttons.justify-content-center.float_left_override{name: "report_button", type: "submit", value: "Report"}   