- # Extra wide layout
- # Authors: Anton Minkov && Laney Deveson
- # Date: 27/04/2021

!!!
%html
  %head
    %title Teamworks - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/images/teamworks_icon2.png'
    = csrf_meta_tags

  %body{onload: "filterProfanity()"}   
    #wrap
      %header#top_line
        %nav#main-nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.fixed-top.top_line
          .container.nav_bar_logo
            %img.logo_top_left{:src => "/assets/uni_logo-1329b75602ca87d0410c0ebe873b6698a79ddabed62396fe44d908aeb603a0ad.jpg", :alt => "University of Sheffield"}
          .container.nav_bar_menu
            .navbar-header
              = link_to :root, class: 'navbar-brand hidden-sm' do
                Teamworks
            %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
              %span.navbar-toggler-icon

            .collapse.navbar-collapse#navbar-content
              - if user_signed_in?
                - highest_privilege = User.highest_privilege(current_user.id)
                - is_student_in_any_module = User.is_student_in_any_module(current_user.id)

                - # icons section
                - profile_icon = 'user'
                - documents_icon = 'file-alt'
                - feedback_hist_icon = 'history'
                - module_list_icon = 'list-ul'
                - create_module_icon = 'plus-square'

                - icon_type_fas = 'fas'
                - icon_type_far = 'far'

                %ul.nav.navbar-nav
                  - #-----------Admin section----------#
                  - if  highest_privilege == "admin"
                    = navbar_link_to :admin_privileges, title: "Manage system privileges", identifier: :home do
                      = icon icon_type_fas, profile_icon
                      System Privileges
                    - if is_student_in_any_module
                      = navbar_link_to :student_profile, title: "Go to your Profile", identifier: :home do
                        = icon icon_type_fas, profile_icon
                        Profile
                      = navbar_link_to :student_profile_feedback_old, title: "Go to your Feedback History", identifier: :home do
                        = icon icon_type_fas, feedback_hist_icon
                        Feedback History
                      = navbar_link_to :student_profile_docs_old, title: "Go to your Documents", identifier: :home do
                        = icon icon_type_fas, documents_icon
                        Documents

                  - #-----------Module Leader section----------#
                  - if  highest_privilege == "module_leader"
                    = navbar_link_to :admin_modules_create, title: "Create a Module", identifier: :home do
                      = icon icon_type_fas, create_module_icon
                      Create Module

                    - if is_student_in_any_module
                      = navbar_link_to :student_profile, title: "Go to your Profile", identifier: :home do
                        = icon icon_type_fas, profile_icon
                        Profile
                      = navbar_link_to :student_profile_feedback_old, title: "Go to your Feedback History", identifier: :home do
                        = icon icon_type_fas, feedback_hist_icon
                        Feedback History
                      = navbar_link_to :student_profile_docs_old, title: "Go to your Documents", identifier: :home do
                        = icon icon_type_fas, documents_icon
                        Documents

                  - #-----------Teaching assistant section----------#
                  - if  highest_privilege == "teaching_assistant"
                    - if is_student_in_any_module
                      = navbar_link_to :student_profile, title: "Go to your Profile", identifier: :home do
                        = icon icon_type_fas, profile_icon
                        Profile
                      = navbar_link_to :student_profile_feedback_old, title: "Go to your Feedback History", identifier: :home do
                        = icon icon_type_fas, feedback_hist_icon
                        Feedback History
                      = navbar_link_to :student_profile_docs_old, title: "Go to your Documents", identifier: :home do
                        = icon icon_type_fas, documents_icon
                        Documents

                  - #-----------Student section----------#
                  - if  highest_privilege == "student"
                    = navbar_link_to :student_profile_feedback_old, title: "Go to your Feedback History", identifier: :home do
                      = icon icon_type_fas, feedback_hist_icon
                      Feedback History
                    = navbar_link_to :student_profile_docs_old, title: "Go to your Documents", identifier: :home do
                      = icon icon_type_fas, documents_icon
                      Documents

                  
                
                %ul.nav.navbar-nav.ml-auto
                  %li.nav-item.dropdown
                    = link_to '#', aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link dropdown-toggle', role: 'button' do
                      = icon 'fas', 'user', current_user.email
                      %b.caret
                    .dropdown-menu{ aria: { labelledby: '#navbar-user-link' } }
                      = link_to destroy_user_session_path, class: 'dropdown-item', :data => { :no_turbolink => true },  method: :delete, title: "Log out of the system" do
                        = icon 'fas', 'sign-out-alt', 'Log out'
      %nav.blue_line.small#bottom_line
        %p blue line
      %main
        #main-container.container-fluid.bg_none
          = yield
  
  - # Footer
  .container-fluid.pb-0.mb-0.justify-content-center.text-light
    %footer.footer_app
      .row.my-5.justify-content-center.py-5
        .col-11
          .row
            .col-xl-8.col-md-4.col-sm-4.col-12.my-auto.mx-auto.a
              %h3.text-muted.mb-md-0.mb-5.bold-text Teamworks
            .col-xl-2.col-md-4.col-sm-4.col-12
            .col-xl-2.col-md-4.col-sm-4.col-12
              %p Engineering Heartspace
              %p.mb-1 Sir Frederick Mappin Building
              %p Mappin Street
              %p Sheffield S1 3JD
              %p Tel: +44 114 222 7700
          .row
            .col-xl-8.col-md-4.col-sm-4.col-auto.my-md-0.mt-5.order-sm-1.order-3.align-self-end
              %p.social.text-muted.mb-0.pb-0.bold-text
                %span.mx-2
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
                %span.mx-2
                  %i.fa.fa-linkedin-square{"aria-hidden" => "true"}
                %span.mx-2
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
                %span.mx-2
                  %i.fa.fa-instagram{"aria-hidden" => "true"}
              %small.rights
                %span ®
                Teamworks All Rights Reserved.
            .col-xl-2.col-md-4.col-sm-4.col-auto.order-1.align-self-end
              %h6.mt-55.mt-2.text-muted.bold-text
                %b Gary C. Wood
              %small
                %span
                  %i.fa.fa-envelope{"aria-hidden" => "true"}
                g.c.wood@sheffield.ac.uk
            .col-xl-2.col-md-4.col-sm-4.col-auto.order-2.align-self-end.mt-3
              %h6.text-muted.bold-text
                %b CONTACT US AT:
              %small
                %span
                  %i.fa.fa-envelope{"aria-hidden" => "true"}
                me-enquiries@sheffield.ac.uk